{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="tab-list">
        <table>
            <thead>
                <tr class="ext_tab_title">
                    <th>En attente</th>
                    <th>En cours</th>
                    <th>Terminé</th>
                    <th>Livré</th>
                </tr>
            </thead>
            <tbody>                 
                {% for customer in list_customer %}
                    <tr>
                        <td>{% if customer.status == 1  %}<a href="{% url 'info_customer' customer.id %}" style="background: #830000; color: #FFFFFF;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>
                        <td>{% if customer.status == 2  %}<a href="{% url 'info_customer' customer.id %}" style="background: #ffe70f; color: #000000;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>  
                        <td>{% if customer.status == 3  %}<a href="{% url 'info_customer' customer.id %}" style="background: #008325; color: #000000;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>               
                        <td>{% if customer.status == 4  %}<a href="{% url 'info_customer' customer.id %}" style="background: #000d83; color: #FFFFFF;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>
                    </tr>                     
                {% endfor %} 
            </tbody>
        </table>
    </div>

    <div class="button">
        <div class="button-dash">
            <a href="{% url 'new_customer' %}">
                <div class="button-element">
                    <span>Créer</span>
                </div>
            </a>
            <a href="{% url 'new_customer' %}">
                <div class="button-element">
                    <span>Scan</span>
                </div>
            </a>
        </div>
    </div>
{% endblock %}