{% extends 'base.html' %}
{% load static %}
{% block content %}



    <div class="button">
        <div class="button-dash">
            <a class="button-element" href="{% url 'new_customer' %}">                
                <span>Créer</span>
            </a>
            <a class="button-element button-scan" onclick="scanner()">                
                <span>Scan</span>
            </a>
        </div>
    </div>

    <div class="tab-list tableau-dash">
        <table>
            <thead>
                <tr class="ext_tab_title">
                    <th>En attente</th>
                    <th>En cours</th>
                    <th>Terminé</th>
                    <th>Livré</th>
                </tr>
            </thead>
            <tbody>                 
                {% for customer in list_customer %}
                    <tr>
                        <td>{% if customer.status == 1  %}<a href="{% url 'info_customer' customer.id %}" style="background: #830000; color: #FFFFFF;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>
                        <td>{% if customer.status == 2  %}<a href="{% url 'info_customer' customer.id %}" style="background: #ffe70f; color: #000000;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>  
                        <td>{% if customer.status == 3  %}<a href="{% url 'info_customer' customer.id %}" style="background: #008325; color: #000000;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>               
                        <td>{% if customer.status == 4  %}<a href="{% url 'info_customer' customer.id %}" style="background: #000d83; color: #FFFFFF;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>
                    </tr>                     
                {% endfor %} 
            </tbody>
        </table>
    </div>
{% endblock %}



{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        function scanner() {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                var video = document.querySelector('video');
                video.srcObject = stream;
                video.onloadedmetadata = function(e) {
                video.play();
                };
            })
            .catch(function(err) {
                console.log(err.name + ": " + err.message);
            });
        }
    });
</script>

{% endblock %}