{% extends 'base.html' %}
{% load static %}
{% block content %}



    <div class="button">
        <div class="button-dash">
            <div id="button-create" class="button-element" onclick="createCust()">                
                <span>Créer</span>
            </div>
            <a class="button-element button-scan" href="{% url 'scanner' %}">                
                <span>Scan</span>
            </a>
        </div>
    </div>
    <div id="id-modal-create" class="modal-create" style="display: none;">
        <button class="close-button" aria-label="Case de fermeture" type="button" onclick="closeModal()"> 
            <span aria-hidden="true">&times;</span> 
        </button>
        <div class="modal-choices">
            <a class="button-element" href="{% url 'new_customer' %}">                
                <span>Nouveau</span>
            </a>
            <a class="button-element" href="{% url 'import_customer' %}">                
                <span>Importer</span>
            </a>
        </div>
    </div>
    <br><br>

    <div class="tab-list tableau-dash">
        <input id="searchbar" onkeyup="recherche()" type="text" name="search" placeholder="Recherche...">
        <table>
            <thead>
                <tr class="ext_tab_title">
                    <th>En attente</th>
                    <th>En cours</th>
                    <th>A récupéré</th>
                    <th>A livré</th>
                    <th>Terminé</th>
                </tr>
            </thead>
            <tbody>                 
                {% for customer in list_customer %}
                    <tr class="searchable">
                        <td>{% if customer.status == 1  %}<a href="{% url 'info_customer' customer.id %}" style="background: #830000; color: #FFFFFF;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>
                        <td>{% if customer.status == 2  %}<a href="{% url 'info_customer' customer.id %}" style="background: #ffe70f; color: #000000;">{{ customer.nom }} {{ customer.prenom }} <br> <span style="color: #830000;font-size: 16;">Atelier granite</span></a>{% endif %}  
                        {% if customer.status == 3  %}<a href="{% url 'info_customer' customer.id %}" style="background: #ffe70f; color: #000000;">{{ customer.nom }} {{ customer.prenom }} <br> <span style="color: #830000;font-size: 16;">Atelier plinthe</span></a>{% endif %}</td>                          
                        <td>{% if customer.status == 4  %}<a href="{% url 'info_customer' customer.id %}" style="background: #008325; color: #000000;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>                      
                        <td>{% if customer.status == 5  %}<a href="{% url 'info_customer' customer.id %}" style="background: #008325; color: #000000;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>                             
                        <td>{% if customer.status == 6  %}<a href="{% url 'info_customer' customer.id %}" style="background: #000d83; color: #FFFFFF;">{{ customer.nom }} {{ customer.prenom }}</a>{% endif %}</td>
                    </tr>                     
                {% endfor %} 
            </tbody>
        </table>

        <div class="cards-dash">
            {% for customer in list_customer %}
                {% if customer.status == 1  %}
                    <a href="{% url 'info_customer' customer.id %}" class="card-dash searchable" style="background: #830000; color: #FFFFFF; margin-top: 15px;">
                        <h2>{{ customer.nom }} {{ customer.prenom }}</h2>
                        <p>En attente</p>
                    </a>
                {% endif %}
                {% if customer.status == 2  %}
                    <a href="{% url 'info_customer' customer.id %}" class="card-dash searchable" style="background: #ffe70f; color: #000000; margin-top: 15px;">
                        <h2>{{ customer.nom }} {{ customer.prenom }}</h2>
                        <p>En cours</p>
                        <p style="color: #830000;font-size: 16;"></p>>Atelier granite</p>
                    </a>
                {% endif %}
                {% if customer.status == 3  %}
                    <a href="{% url 'info_customer' customer.id %}" class="card-dash searchable" style="background: #ffe70f; color: #000000; margin-top: 15px;">
                        <h2>{{ customer.nom }} {{ customer.prenom }}</h2>                
                        <p>En cours</p>
                        <p style="color: #830000;font-size: 16;">Atelier plinthe</p>
                    </a>
                {% endif %}
                {% if customer.status == 4  %}
                    <a href="{% url 'info_customer' customer.id %}" class="card-dash searchable" style="background: #008325; color: #000000; margin-top: 15px;">
                        <h2>{{ customer.nom }} {{ customer.prenom }}</h2>
                        <p>A récupéré</p>
                    </a>
                {% endif %}
                {% if customer.status == 5  %}
                    <a href="{% url 'info_customer' customer.id %}" class="card-dash searchable" style="background: #008325; color: #000000; margin-top: 15px;">
                        <h2>{{ customer.nom }} {{ customer.prenom }}</h2>
                        <p>A livré</p>
                    </a>
                {% endif %}
                {% if customer.status == 6  %}
                    <a href="{% url 'info_customer' customer.id %}" class="card-dash searchable" style="background: #000d83; color: #FFFFFF;">
                        <h2>{{ customer.nom }} {{ customer.prenom }}</h2>
                        <p>Livré</p>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function recherche() {
            let input = document.getElementById('searchbar').value;
            input = input.toLowerCase();
            let cust = document.getElementsByClassName('searchable');
        
            for (i = 0; i < cust.length; i ++) {
                if (! cust[i].innerHTML.toLowerCase().includes(input)) {
                    cust[i].style.display = "none";
                } else {
                    cust[i].style.display = "";
                }
            }
        }

        function createCust() {
            $("#id-modal-create").show();
        }

        function closeModal() {
            $("#id-modal-create").hide();
        }
    </script>
{% endblock %}

{% block css %}
    <style>
        #searchbar {
            width: 50%;
        }

        .close-button { 
            position: absolute; 
            color: #830000; 
            right: 1rem; 
            top: 0.5rem; 
            font-size: 2em; 
            line-height: 1; 
            cursor: pointer; 
            border: 1px solid #830000;
        }

        .modal-create {
            position: absolute;
            top: 0;
            left: 25%;
            width: 50%;
            height: 300px;
            background-color: #fff;
            z-index: 3;
            border-radius: 20px;
            border: solid 3px #830000;
            -webkit-box-shadow: 0 0 200px rgba(128, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 200px rgba(128, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
        }

        .modal-choices {
            position: absolute;
            top: 80px;
            display: grid;
            grid-template-columns: auto auto;
            padding: 10px;
            text-align: center;
            width: 100%;
        }

        .modal-choices a {
            background-color: #830000;
            color: white;
            padding: 18px 40px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 25%;
            margin-left: auto;
            margin-right: auto;
        }

        .modal-choices a:hover {
            background-color: #a72323;
        }

        @media (max-width: 1500px) {
            #searchbar {
                width: 100%;
            }

            .modal-create {
                width: 80%;
                left: 10%;
            }
        }

        @media (max-width: 800px) {
            .modal-create {
                width: 100%;
                left: 0;
                border-radius: 0px;
            }
        }

        .modal-create:before {
            content: '';
            position: absolute;
            top: -8px;
            right: -8px;
            bottom: -8px;
            left: -8px;
            z-index: -1;
            background: rgba(0, 0, 0, 0.08);
            border-radius: 4px;
        }

    </style>
{% endblock %}



