{% extends 'base.html' %}
{% load static %}
{% block content %}

    <a href="{% url 'info_customer' customer.id %}"><div class="arrow-back no-print"></div></a>
    
    <div id="etiquette" class="etiquette">
        <img class="img-qr" src="{{ code_url }}">
        <h2 style="font-size: 40px;">{{ customer.nom }} {{ customer.prenom }}</h2>
    </div>

    <div class="button-dash no-print">
        <a class="button-element" onclick="printEtiquette()">
            <span>Imprimer</span>
        </a>
    </div>

{% endblock %}

{% block javascripts %}

<script>
    function printEtiquette() {
        window.print();
    }
</script>

{% endblock %}
