{% extends 'base.html' %}
{% load static %}
{% block content %}

    <a href="{% url 'info_customer' customer.id %}"><div class="arrow-back no-print"></div></a>
    
    <div id="etiquette" class="etiquette" style="box-sizing: border-box;
                                            border-radius: 15px;
                                            background-color: #f2f2f2;
                                            padding: 20px;
                                            width: 50%;
                                            margin-left: auto;
                                            margin-right: auto;

                                            margin-bottom: 50px;
                                            margin-top: 40px;

                                            text-align: center;
                                            ">
        <div class="etiquette-content" style="display: grid;
                                        grid-template-columns: 30% 70%;
                                        text-align: center;
                                        ">
            <div style="height: 200px;"><img class="img-qr" src="{{ code_url }}"></div>
            <div>
                <h2 style="font-size: 40px;">{{ customer.nom }} {{ customer.prenom }}</h2>        
                <h3 style="font-size: 30px;">Date : {{ customer.date_commande|date:"d-m-Y" }}</h3>
            </div>
        </div>
    </div>

    <div class="button-dash no-print">
        <a class="button-element" onclick="printEtiquette()">
            <span>Imprimer</span>
        </a>
    </div>

    <!-- <div class="button-dash no-print">
        <a class="button-element" href="{% url 'etiquette_impression' customer.id %}">
            <span>Imprimer</span>
        </a>
    </div> -->

{% endblock %}

{% block javascripts %}

<script>
    function printEtiquette() {
        /* const etiquette = document.getElementById("etiquette");
        etiquette.focus();
        window.print(); */

        var divContents = document.getElementById("etiquette").innerHTML;
        var a = window.open('', '');
        a.document.write('<html>');
        a.document.write('<body >');
        a.document.write(divContents);
        a.document.write('</body></html>');
        a.document.close();
        a.print();
    }
</script>

{% endblock %}
