{% extends 'base.html' %}
{% load static %}
{% block content %}

    <a href="{% url 'dashbord' %}"><div class="arrow-back"></div></a>

    <div class="info-status">
        {% if customer.status == 1 %}
            <p style="background: #830000; color: #FFFFFF;">En attente</p>
        {% elif customer.status == 2 %}
            <p style="background: #ffe70f; color: #000000;">En Cours</p>
        {% elif customer.status == 3 %}
            <p style="background: #008325; color: #000000;">Terminé</p>
        {% else %}
            <p style="background: #000d83; color: #FFFFFF;">Livré</p>
        {% endif %}
    </div>
    <div class="info-customer">
        <table>
            <tbody>
                <tr>
                    <td class="info-label">Nom</td>
                    <td class="info-value">{{ customer.nom }}</td>
                </tr>   
                <tr>
                    <td class="info-label">Prénom</td>
                    <td class="info-value">{{ customer.prenom }}</td>
                </tr> 
                <tr>
                    <td class="info-label">Numéro</td>
                    <td class="info-value">{{ customer.numero }}</td>
                </tr> 
                <tr>
                    <td class="info-label">Mail</td>
                    <td class="info-value">{{ customer.email }}</td>
                </tr> 
            </tbody>
        </table>
        <p>Description </p>
        <p>{{ customer.description|linebreaks }}</p>
    </div>

    <div class="button-cust">
        <a href="{% url 'edit_customer' customer.id %}">
            <div class="button-element">
                <span>Modifier</span>
            </div>
        </a>
        {% if customer.status < 3  %}
            <a href="{% url 'validation' customer.id %}">
                <div class="button-element">
                    <span>Valider</span>
                </div>
            </a>
        {% else %}
            <a href="{% url 'retour_atelier' customer.id %}">
                <div class="button-element">
                    <span>Retour en atelier</span>
                </div>
            </a>
        {% endif %}
        <a href="{% url 'etiquette' customer.id %}">
            <div class="button-element">
                <span>Etiquette</span>
            </div>
        </a>        
        {% if customer.status > 2  %}
            <a href="{% url 'bon_de_livraison' customer.id %}">
                <div class="button-element">
                    <span>Bon de livraison</span>
                </div>
            </a>
        {% endif %}        
        <a href="{% url 'delete_customer_confirmation' customer.id %}">
            <div class="button-element">
                <span>Supprimer</span>
            </div>
        </a>
    </div>

{% endblock %}