{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="qr-reader"></div>

{% endblock %}

{% block css %}
<style>
    .result {
        background-color: green;
        color: #fff;
        padding: 20px;
    }

    .row {
        display: flex;
    }

    #qr-reader {
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}

{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr@1.0.0/dist/jsQR.min.js"></script>
<script src="{% static 'admin/js/html5-qrcode.min.js'%}"></script>
<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        function onScanSuccess(decodedText, decodedResult) {
            alert(decodedText);
        }
        var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", { fps: 10 });
        html5QrcodeScanner.render(onScanSuccess);
    });
</script>

{% endblock %}