.main {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

@media (max-width: 1500px) {
    .main {
        width: 95%;
    }
}

a {
    text-decoration: none;
}

/* ////////// HEADER ////////// */
header {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    height: 100px;
}

.separator-header {
    height: 7px;
    background-image: linear-gradient(to top, #000, #FFFFFF);
    width: 100%;
    margin: 20px 0;
}

/* ////////// FLECHE RETOUR ////////// */

.arrow-back {
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 60px;
}

.arrow-back:before {
    content: "";
    width: 50;
    border-top: 7px solid #830000;
    border-bottom: 7px solid #830000;
    border-left: 7px solid #830000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-back:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #830000;
    position: absolute;
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
}

/* ////////// BOUTONS ////////// */

.button {
    width: 100%;
}

.button-dash {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    text-align: center;
}

.button-cust {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    text-align: center;
}

.button-element {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    text-align: center;
    padding: 25px 18px;
    height: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #f1e3e3;
    background: #efcdcd;
    border: 1px solid;
    border-color: #ceb4b4 #c8b3b3 #c29e9e;
    border-radius: 16px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #f8eded, #830000);
    background-image: -moz-linear-gradient(top, #f8eded, #830000);
    background-image: -o-linear-gradient(top, #f8eded, #830000);
    background-image: linear-gradient(to bottom, #f8eded, #830000);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

.button-element span {
    font-size: 20px;
    color: #EEEEEE;
}

@media (max-width: 1500px) {
    .button-cust {
        grid-template-columns: auto auto auto;
    }

    .button-element {
        width: 200px;
    }

    .button-dash {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 800px) {
    .button-cust {
        grid-template-columns: auto auto;
    }

    .button-element {
        width: 200px;
    }

    .button-dash {
        grid-template-columns: auto;
    }
}

/* ////////// LOGIN ////////// */

.login-button {
    display: inline-block;
    position: absolute;
    top: 60px;
    right: 60px;
}

.login {
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px #800000, 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px #800000, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.login h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 1px #000;
    background: linear-gradient(#800000, #e0a7a7);
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}

.login p {
    margin: 20px 0 0;
}

.login p:first-child {
    margin-top: 0;
}

.login input[type=text],
.login input[type=password] {
    width: 90%;
}

input[type=text],
input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

.login input[type=text]:focus,
.login input[type=password]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}

.login p.submit,
.login-button a {
    text-align: center;
}

.login-help {
    margin: 20px 0;
    font-size: 11px;
    color: #800000;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
}

.login-help a {
    color: #800000;
    text-decoration: none;
}

.login-help a:hover {
    text-decoration: underline;
}

:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

.login-button a {
    color: #800000;
    padding: 18px 40px;

    text-shadow: 0 1px #f1e3e3;
    background: #efcdcd;
    border: 1px solid;
    border-color: #ceb4b4 #c8b3b3 #c29e9e;
    border-radius: 16px;
    cursor: pointer;

    background-image: -webkit-linear-gradient(top, #f8eded, #efcdcd);
    background-image: -moz-linear-gradient(top, #f8eded, #efcdcd);
    background-image: -o-linear-gradient(top, #f8eded, #efcdcd);
    background-image: linear-gradient(to bottom, #f8eded, #efcdcd);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

.login input[type=submit] {
    padding: 5px 18px 5px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #800000;
    text-shadow: 0 1px #f1e3e3;
    background: #efcdcd;
    border: 1px solid;
    border-color: #ceb4b4 #c8b3b3 #c29e9e;
    border-radius: 16px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #f8eded, #efcdcd);
    background-image: -moz-linear-gradient(top, #f8eded, #efcdcd);
    background-image: -o-linear-gradient(top, #f8eded, #efcdcd);
    background-image: linear-gradient(to bottom, #f8eded, #efcdcd);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

.login input[type=submit]:active {
    background: #efcdcd;
    border-color: #c29e9e #c8b3b3 #ceb4b4;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.menu-lien {
    display: none;
}

@media (max-width: 1500px) {
    .login {
        width: 75%;
    }
}

@media (min-width: 800px) {
    .menu-button {
        display: none;
    }
}

@media (max-width: 800px) {
    .login-button {
        display: none;
    }

    .menu-button {
        display: inline-block;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 2;
    }

    .menu-lien {
        display: none;

        position: absolute;
        width: 100%;
        height: 100px;
        top: -5;
        list-style: none;
        background-color: #830000;
    }

    .menu-lien li {
        text-align: center;
        font-size: 20px;
        padding-top: 40px;
    }

    .menu-lien a {
        text-decoration: none;
        color: #fff;
    }
}


/* ////////// DASHBORD ////////// */

.tab-list table,
.tab-list td {
    border-collapse: collapse;
    border: 1px solid #333;
}

.tab-list thead {
    background-color: #830000;
    color: #fff;
    font-size: 25px;
    font-style: bold;
}

.ext_tab_title {
    background-color: #efcdcd;
    color: #830000;
    text-align: center;
    font-size: 20px;
    font-style: bold;
}

.tab-list table {
    width: 100%;
    margin-top: 20px;
}

.tab-list td {
    text-align: center;
    width: 20%;
}

.tab-list td,
.tab-list thead {
    height: 60px;
}

.tab-list a {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    border-radius: 20px;
    border: 1px solid;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20;
}


@media (min-width: 1500px) {
    .button-scan {
        display: none;
    }
}

@media (min-width: 600px) {
    .cards-dash {
        display: none;
    }
}

@media (max-width: 600px) {
    .tableau-dash table {
        display: none;
    }

    .cards-dash {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .card-dash h2 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .card-dash p {
        font-size: 1rem;
        margin-bottom: 0;
        margin-top: 0px;
    }
}

/* ////////// NEW CUSTOMER ////////// */

.form-cust input[type=text],
.form-cust textarea,
.form-cust input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}

.form-cust label {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.button-form {
    width: 145px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.form-cust input[type=submit] {
    background-color: #830000;
    color: white;
    padding: 18px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-cust input[type=submit]:hover {
    background-color: #a72323;
}

.form-cust {
    /* Ajouter box-sizing */
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
}

/* ////////// INFO CUSTOMER ////////// */

.info-status {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    ;
}

.info-status p {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    text-align: center;
    padding: 1px 25px;
    margin-top: 25px;
    border: 1px solid;
    border-radius: 16px;
    outline: 0;
}

.info-customer td,
.info-customer p {
    font-size: 25px;
}

.info-customer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.info-customer table {
    width: 100%;
    margin-bottom: 60px;
}

.info-customer tr {
    height: 50px;
}

.info-label {
    width: 25%;
}

.info-value {
    width: 75%;
}

/* ////////// DELETE CUSTOMER ////////// */

.delete {
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(128, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(128, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.delete:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.delete h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    background: linear-gradient(#800000, #e0a7a7);
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}

.delete p.submit {
    text-align: center;
}



.info-delete-button {
    background-color: #830000;
    color: white;
    padding: 18px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.info-delete-button a {
    color: white;
}

.info-delete-button:hover {
    background-color: #a72323;
}

.info-delete-submit {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    text-align: center;
}

/* ////////// ETIQUETTE ////////// */

.etiquette {
    /* Ajouter box-sizing */
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 50px;
    margin-top: 40px;

    text-align: center;
}

.img-qr {
    height: 200px;
}

@media print {
    .etiquette {
        box-sizing: border-box;
        border-radius: 15px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        margin-bottom: 50px;
        margin-top: 40px;

        text-align: center;
    }

    .no-print {
        display: none !important;
    }
}

/* ////////// BON DE LIVRAISON ////////// */

.info-bdl {
    width: 21cm;
    min-height: 29.7cm;
    box-sizing: border-box;
    border-radius: 15px;
    border: solid #830000;
    background-color: #FFFFFF;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 50px;
    margin-top: 40px;
}

.bdl-header {
    display: grid;
    grid-template-columns: 80% 20%;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid #830000;
    background-color: #FFFFFF;
    padding: 5px;
    text-align: left;
    font-size: 25px;
}

.bdl-content {
    margin-top: 50px;
}

.dbl-content-info {
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: left;
}

.bdl-signature {
    text-align: center;
}

.clearCanvas {
    text-align: center;
    padding: 4px 25px;
    margin-top: 25px;
    border: 1px solid;
    border-radius: 16px;
    outline: 0;
    background: #830000;
    color: #FFFFFF;
}

.signature-cadre {
    margin-bottom: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border: 3px solid #000000;
}

.signature-img {
    margin-bottom: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.signature-img-cont {
    width: 100%;
}

.signature-zone {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    width: 100%;
}

@media (max-width: 800px) {
    .bdl-header {
        grid-template-columns: 70% 30%;
        font-size: 15px;
    }

    .info-bdl {
        width: 100%;
        height: auto;
    }
}

/* ////////// FOOTER ////////// */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.sub_footer {
    width: 100%;
    background-image: linear-gradient(to top, #000, #830000);
    color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
}