{% load static %}
<html>
    <head>
        <title>KARRO DEKO</title>
         <link rel="stylesheet" href="{% static 'app.css' %}">
         <link rel="shortcut icon" type="image/x-icon" href="/static/images/logo.jpg"/>
        <!--<link rel="shortcut icon" type="image/x-icon" href="/static/images/logo.ico"/> -->

        <!-- <script src="{% static 'app.js' %}"></script> -->

        {% block javascripts %}

        {% endblock javascripts %}
    </head>
    <body>
        <header>
            <div class="content-header no-print">               
                <a href="{% url 'dashbord' %}" style="text-decoration: none;">
                    <img class="logo" src="{% static 'images/logo.jpg'%}">  
                </a> 
            </div>
            {%  if user.is_authenticated %}
                <div class="login-button">
                    <a href="{% url 'logout' %}">Se déconnecter</a>
                </div>
            {%  else %}
                <div class="login-button">
                    <a href="{% url 'login' %}">Se connecter</a>
                </div>
            {% endif %}
        </header>                
        <div class="separator-header"></div>
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
        <footer>
            <div class="sub_footer no-print">
                <p>Copyright 2023 KARRO DEKO</p>
            </div>
        </footer>
    </body>
</html>
